NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_STELLAR_PASSWORD=
NEXT_PUBLIC_STELLAR_SECRET=
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_CANON_CONTRACT_ID=
NEXT_PUBLIC_CROSSMINT_API_KEY=
NEXT_PUBLIC_PINKET_CONTRACT_ID=
NEXT_PUBLIC_SBT_CONTRACT_ID=
NEXT_PUBLIC_INCREMENT_BINDING=
HELLO_WORLD_BINDING=
