# Stellar Network
# Stellar network to connect to (TESNET | PUBLIC | FUTURENET | STANDALD)
NEXT_PUBLIC_STELAR_NETWORK=TESTNET

# Sorban RPC endpoint used by the web app
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
